<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hlv.cute.todo"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="false"
        android:theme="@style/Theme.CuteTodo">

        <activity
            android:name="ui.activity.ShowNotificationActivity"
            android:taskAffinity="ui.activity.ShowNotificationActivity"
            android:theme="@style/Theme.CuteTodo" />

        <activity
            android:name="ui.activity.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.CuteTodo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter
                android:icon="@mipmap/logo_share_menu"
                android:label="@string/app_name"
                android:roundIcon="@mipmap/logo_share_menu">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

        </activity>

        <receiver
            android:name="scheduler.receiver.BootCompleteReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true"
            tools:targetApi="n">

            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>

        </receiver>

        <receiver
            android:name="scheduler.receiver.TimeChangeReceiver"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>

        </receiver>

        <receiver android:name="scheduler.receiver.NotificationReceiver" />

    </application>

</manifest>